.header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border: 1px solid black;
    align-items: center;
}

.nav-items>ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style-type: none;
}

.nav-items>ul>li {
    margin: 12px;
    font-size: 24px;
    color: grey;
    cursor: pointer;
}

.logo {
    height: 100px;
    width: 100px;
    cursor: pointer;
}

.res-card {
    width: 200px;
    padding: 6px;
    background-color: rgb(236, 227, 227);
    margin: 5px;
    border-radius: 5%;
}

.res-container {
    display: flex;
    flex-wrap: wrap;
}

.res-card:hover {
    border: 1px solid black;
    cursor: pointer;
}

.res-logo {
    width: 190px;
    height: 100px;
    border-radius: 5%;
}